body {
	background-color: linen;
}

footer {
	background-color: white;
}

h1 {
	font-family:impact;
	font-size:50px;
	text-align:center;
	background-color: white;
}

footer {
	position:fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

#nav {
	text-align:center;
	background-color: white;
}

#labels {
	font-weight:bold;
}

#header {

	background-color: white;
}

a:visited {
	color:green;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

#beverages {
	font-size:14px;
}

.floating-box:nth-of-type(7) {
	width:100%;
	margin:10 auto 10 auto;
}

.drink {
	text-align:center;
}

.price {
	text-align:center;
}

caption {
	font-size:18pt;
	font-weight:bold;
}